.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
luggage_counter.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
yolov8n.pt
uploads/
results/
reports/

# vim temporary files
*~
.*.sw?
.cache
